<div>
  <div>
    <h1>Ein Konto eröffnen</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field>
      <mat-label>Benutzername</mat-label>
      <input matInput type="text" formControlName="userName" />
      @if (registerForm.get('username')?.hasError('required')) {
      <mat-error>Email ist erforderlich</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (registerForm.get('email')?.hasError('required')) {
      <mat-error>Email ist erforderlich</mat-error>
      } @if (registerForm.get('email')?.hasError('email')) {
      <mat-error>Bitte gib eine gültige Email-Adresse ein</mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (registerForm.get('password')?.hasError('pattern')) {
      <mat-error
        >Passwort muss mindestens einen Grossbuchstaben und ein Sonderzeichen
        enthalten</mat-error
      >
      }
    </mat-form-field>

    <button type="submit" [disabled]="!registerForm.valid">
      Konto erstellen
    </button>
  </form>
</div>
