<div class="card-header">
  <h1>Warenkorb</h1>
  <mat-icon matTooltip="Kontextmenü anzeigen" [matTooltipPosition]="'above'"
    >more_vert</mat-icon
  >
</div>

@for (cartProduct of cartProducts$ | async; track cartProduct.id) {
<section class="cart-content">
  <li class="cart-product-wrapper">
    <ul class="cart-item">
      <a href="#">
        <img [src]="'/img/products/' + cartProduct.imgSrc" alt="product-img" />
      </a>
      <div class="cart-item-area-container">
        <div class="cart-item-text-container">
          <a href="#">
            <div>
              <p class="cart-item-title mb-1">
                <span>{{ cartProduct.brand }}</span
                >&nbsp;
                <span> {{ cartProduct.name }}</span>
              </p>
              <p>
                {{ cartProduct.category }},
                {{ cartProduct.productSpecification }}
              </p>
            </div>
            <app-available-container></app-available-container>
          </a>
        </div>
        <div class="item-right-container">
          <div class="price-container">
            <mat-form-field appearance="outline">
              <mat-select
                [(value)]="selectedAmount"
                (selectionChange)="checkCustomAmount()"
              >
                @for (amount of amounts; track amount) {
                <mat-option [value]="amount.value">{{
                  amount.viewValue
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <span>{{ cartProduct.productPrice }}.-</span>
          </div>
          <div class="price-edit-container">
            <button>
              <mat-icon>delete</mat-icon>
              <span>Entfernen</span>
            </button>
            <div class="separator"></div>
            <button>
              <span>Für später speichern</span>
            </button>
          </div>
        </div>
      </div>
    </ul>
  </li>
</section>
}
