<div class="card-header">
  <h1>Warenkorb</h1>
  <mat-icon matTooltip="Kontextmenü anzeigen" [matTooltipPosition]="'above'"
    >more_vert</mat-icon
  >
</div>

<section class="cart-content">
  <li class="cart-product-wrapper">
    <ul class="cart-item">
      <a href="#">
        <img
          src="/img/products/abbott_bluttest.avif"
          alt="product cart image"
        />
      </a>
      <div class="cart-item-area-container">
        <div class="cart-item-text-container">
          <a href="#">
            <div>
              <p class="cart-item-title mb-1">
                <span>Uppercut Deluxe</span>
                <span> Pomade</span>
              </p>
              <p>Haargel, 100 ml</p>
            </div>
            <app-available-container></app-available-container>
          </a>
        </div>
        <div class="item-right-container">
          <div class="price-container">
            <mat-form-field appearance="outline">
              <mat-select
                [(value)]="selectedAmount"
                (selectionChange)="checkCustomAmount()"
              >
                @for (amount of amounts; track amount) {
                <mat-option [value]="amount.value">{{
                  amount.viewValue
                }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
            <span>99.50</span>
          </div>
          <div class="price-edit-container">
            <button>
              <mat-icon>delete</mat-icon>
              <span>Entfernen</span>
            </button>
            <div class="separator"></div>
            <button>
              <span>Für später speichern</span>
            </button>
          </div>
        </div>
      </div>
    </ul>
  </li>
</section>
