@if (product$ | async; as product) {
<div class="product-detail-section">
  <div class="main-product-container">
    <div class="product-img-container">
      <img [src]="'/img/products/' + product.imgSrc" alt="product-img" />
    </div>
    <div class="product-detail-container">
      <div class="product-detail-container-top">
        <div class="product-price-container">
          <span>{{ product.productPrice }}</span>
          <span>{{ product.basePrice }}</span>
        </div>

        <div class="product-name-container">
          <p>
            <span>{{ product.brand }}</span>
            <span> {{ product.name }}</span>
          </p>
          <p>{{ product.productSpecification }}</p>
        </div>

        <div class="rating-container">
          <span>Bewertungen</span>
          <div class="product-rating">
            <app-product-rating
              [productRating]="product.rating"
            ></app-product-rating>
            <span class="rating">{{ product.numberOfRating }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
}
