@if (product$ |async; as product) {
<section class="daily-deal-wrapper" [routerLink]="['/product', product.id]">
  <div class="daily-deal-container">
    <div class="overlay"></div>
    <div class="daily-deal-header">
      <div class="date-container">
        <span>JAN</span>
        <span>18</span>
      </div>
      <h2>Galaxus Tagesangebot</h2>
      <div class="show-all-offers">
        <a href="#">
          Alle Angebote anzeigen
          <svg
            class="icon"
            fill="none"
            viewBox="0 0 16 16"
            width="16"
            height="16"
            aria-hidden="true"
          >
            <path
              d="m10.05 3.5-.707.715 3.743 3.78H1v1.009h12.086l-3.743 3.782.707.714 4.243-4.285.707-.716z"
            ></path>
          </svg>
        </a>
      </div>
    </div>
    <div class="product-title-image-container">
      <img [src]="'/img/products/' + product.imgSrc" alt="product-img" />
    </div>
    <div class="product-title-wrapper">
      <div class="product-information-container">
        <div class="remaining-container">
          <p>
            <span class="">noch 49</span>
            <span> von 75 Stück</span>
          </p>
          <div class="remaining-bar-container"></div>
        </div>
        <div class="product-link-container">
          <a href="#">{{ product.category}}</a>
        </div>

        <div class="product-title-price-container">
          <span>309.-</span>
          <span> statt {{ product.productPrice}}.-</span>
        </div>
        <div class="product-name-container">
          <p>
            <span>{{product.brand}}</span>
            <span> {{product.name}}</span>
          </p>
          <p>{{product.productSpecification}}</p>
        </div>
      </div>
    </div>
  </div>
</section>
}